@{
    ViewBag.Title = "About Us";
    Layout = ViewBag.GetLayout();
    ViewBag.ShowSidebar = false;
}
<h2>
    @ViewBag.Title
</h2>
<div id="about" class="contentInner page">
    @Data.Content.Pages["AboutUs"].Contents["Placeholder"].Value
</div>
