@{
    ViewBag.Title = "Services";
    Layout = ViewBag.GetLayout();
    ViewBag.ShowSidebar = false;
}
<h2>
    @ViewBag.Title
</h2>
<div id="services" class="contentInner page">
    @Data.Content.Pages["Services"].Contents["Placeholder"].Value
</div>
