<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="wrapper">
        <div id="sidebar">

        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
