@model NewFlucompMVC.Models.PostModel
<div class="post">
    <div class="info">
        <span class="postTitle">@Model.Title</span>
        <br />
        <span class="postInfo">@Model.DatePosted.ToString("f") - @Model.Author</span>
    </div>
    <div class="postContent">
        @Model.Contents
    </div>
</div>