@{
    ViewBag.Title = "ContentWriter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="bottom">
    <!--<div id="constructionNotice" class="wrapper">
			<img src="@Url.Content("~/Include/img/warning.png")" alt="Warning"/>
			<span>This site is currently under construction!</span>
		</div>-->
    <div id="contact" class="contentInner page well">
        <h3>Our Focus</h3>
        <p>
            We strive to work as partners with our clients, to best address multi-client research needs with objective data and analyses.
            Our primary focus has been in the complex Oil &amp; Natural Gas Value Chain with near-term and long-term profitability dependent
            on multiple markets &ndash; upstream production, refined products to petrochemical feedstock, power and gas liquids. Our expertise
            has been a foundational-level integration of the technology, research, rapid commercialization of new technology, engineering and understanding
            of the Natural Gas and NGL market to provide our clients with a base to build upon. We go beyond this in recognizing that
            &ldquo;learning to fish is far better than merely giving you the fish&rdquo; by assisting ou clients through on-site training to
            understand how to build these models and which metrics to rely on for investment; becoming critical of results and knowing the right questions
            to ask is the foundation of success.
        </p>
    </div>
</div>
