@{
    ViewBag.Title = "ContentWriter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="bottom">
    <!--<div id="constructionNotice" class="wrapper">
			<img src="@Url.Content("~/Include/img/warning.png")" alt="Warning"/>
			<span>This site is currently under construction!</span>
		</div>-->
    <div id="contact" class="contentInner page well">
        <p>
            <b>Reputation</b> 20-year track record of growing revenues, improving operations and managing/developing strategies to capture value in
            arrived solutions. I also formed and led Global Chemical Manufacturers and Oil &amp; Gas Joint Industry Partnerships.
            My work in Natural Gas Pipeline modeling has been globally recognized; I have been an internationally-invited presenter in peer-reviewed
            conferences and global Chemical Manufacturer and Oil &amp; Gas private corporate invitations, saving each company a 15-20% chemical cost per
            month savings.
        </p>
        <p>
            <b>Specialties</b> Energy Project Development / Management, Operations / Asset Management, economic analysis, 
            competitive analysis, statistical analysis, project management, financial analysis, business strategy, strategic planning, 
            new technology development, managing budgets determining headcount requirements, working with contractors, 
            writing technical specifications, developing software tools, working with suppliers and reviewing supplier designs, 
            diagnosing customer equipment, working with production on problem solving and trouble shooting, and developing detailed test programs.
        </p>
    </div>
</div>
