@model NewFlucompMVC.Models.ProductModel
@{
    ViewBag.Title = "Products";
    Layout = ViewBag.GetLayout();
    ViewBag.ShowSidebar = true;
}
@{
    Html.RenderPartial("PageTitle");
}
<div class="row-fluid">
    @{
        foreach (var product in Model.Products)
        { 
        <div class="product well span3">
            <a href="@product.Url">
                <span class="title">@product.Name</span><br />
                <img src="@Url.Content(product.ImageSrc)" class="productImg"/><br />
            </a>
            <span class="desc">@Html.Raw(product.Description)</span>
        </div>
        }
    }
</div>
